@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(134, 201, 216);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  padding-top: 35vh;
}

.container {
  max-width: 640px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

/* form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
} */

.relogio {
  font-size: 3em;
}
P{
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pausado {
  color: red;
}
button{
  padding: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#iniciar{
  background-color: rgb(48, 161, 48);
}
#pausar{
  background-color: rgb(99, 99, 245);
}
#zerar{
  background-color: rgb(246, 92, 92);
}
#iniciar:hover {
  background: rgb(43, 141, 43);;
}
#pausar:hover{
  background-color: rgb(76, 76, 177);
}
#zerar:hover{
  background-color: rgb(202, 77, 77);
}
.paused{
  color: red;
}